Let us play a game of incrementing. Write to me 0, nothing else. That is the initial value. After that I will just give you the number of increments you should perform an a given number. Just write the result and set the result as the new initial value..
